<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>About Us</h1>
  <p> Hai nama saya Kevin Benedict. Saya lahir tanggal 21 Maret 2000 di Surabaya. Hobby saya main game jika bisa bangun pagi teratur mungkin hobby saya termasuk lari pagi. 
    Status sudah ganda campuran.
  </p>
  <ion-item>
    <ion-label>Input number 0-10 -> </ion-label>
    <ion-input [(ngModel)] = "nomor"></ion-input>
  </ion-item>

  <ion-button (click) = "check()">Check</ion-button><br>

  <ng-template *ngIf="tampil; then templatetrue; else templatefalse"></ng-template>

  <ng-template #templatetrue>
    <ion-img src ="assets\mulan.jpg"></ion-img>
  </ng-template>

</ion-content>
